extends authlayout

block pagename
	small  settings

block authcontent
		.row
			.col-lg-12
				h3 User: #{user.username}
		.row
			.col-lg-12
				h4 Currently watching #{files.length} files
		.row
			.col-lg-12
				ul
					- each file in files
						li
							strong=file.path
								form(action="/files/#{file._id}" method="POST")
									button(class="btn btn-primary") remove
		.row
			h4 Add New File
			form(action="/config", method="POST")
				.row
					label(for="path", class="col-md-1") Path
					input(placeholder="path", id="path",name="path", class="col-md-4")
				.row
					.col-md-12
						button(class="btn btn-primary") add
