extend layout

block content
	.container
		.row
			.col-lg-10
				h1 #{name}
					small  logging #{logfile}
			.col-lg-2
				.pull-right
					a(class="btn btn-primary logout-btn", href="/logout") Logout
		hr
		.cssterm

block js
	script(src="/js/TailorClient.js")
	script(src="/js/client.js")
