extend authlayout

block pagename
	small dashboard

block authcontent
	-each file in files
		.log-container
			h1=file.path
			.log-body(id="log-file-#{file._id}")

block js
	script(src="/js/TailorClient.js")
	script(src="/js/client.js")
