doctype html
html
		title #{name}
		link(rel="stylesheet", type="text/css", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/cssterm.css")
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		block content
		script(src="/js/socket.io-1.2.1.js")
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="/js/cssterm.js")
		block js
