.nav-btn {
	margin-top:30px;
}

.log-container {
}

.log-body {
  font-family: monospace; line-height: 1em;
  font-size: 11px;
  float: left;
  width: 100%;
  min-height: 30px;
  background-color: #000;
  padding: 10px;
  line-height: 1.5em;
  color:gray !important;
  max-height:400px;
  overflow:scroll;
}

.log-body p {
	line-height:0.8em;
}
